In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import norm,t
from scipy import stats
import statsmodels.api as sm

### Question 11 - Intermediate
    A biologist is interested in determining whether a plant seedlings treated with an extract from Myrtle roots
    resulted in a lower average height of the seedlings than the standard height of 15.7 cm. The biologist treated
    a random sample of n = 33 seedlings with the extract and subsequently obtained the following heights:
    11.5 11.8 15.7 16.1 14.1 10.5 9.3 15.0 11.1
    15.2 19.0 12.8 12.4 19.2 13.5 12.2 13.3
    16.5 13.5 14.4 16.7 10.9 13.0 10.3 15.8
    15.1 17.1 13.3 12.4 8.5 14.3 12.9 13.5
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test
    3. Find P-value and conclude the Hypotheses

In [6]:
sample = np.array([11.5,11.8,15.7,16.1,14.1,10.5,9.3,15.0,11.1
,15.2,19.0,12.8,12.4,19.2,13.5,12.2,13.3
,16.5,13.5,14.4,16.7,10.9,13.0,10.3,15.8
,15.1,17.1,13.3,12.4,8.5,14.3,12.9,13.5])
population_mean = 15.7

n = len(sample)

sample_mean = sample.mean()
sample_std = sample.std()

print(f"sample_mean: {sample_mean}")
print(f"sample_std: {sample_std}")

sample_mean: 13.663636363636364
sample_std: 2.5047613062130147

In [32]:
#H(0): Mean height is 15.7
#H(a): Mean height is < 15.7

se = sample_std/np.sqrt(n-1)

t_value = (sample_mean - population_mean)/se#np.round(se,3)
print(f"t-value: {t_value}")
p_value = stats.t.cdf(t_value, n-1)
print(f"p_value: {p_value}")
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print("Failed to reject Null Hypothesis")

t-value: -4.599006005602887
p_value: 3.1742439570009896e-05
Reject Null Hypothesis

In [29]:
stats.ttest_1samp(sample, 15.7, alternative='less')

Ttest_1sampResult(statistic=-4.599006005602887, pvalue=3.1742439570009896e-05)

### Question 12 - Intermediate
    An engineer measured the Brinell hardness of 25 pieces of ductile iron that were subcritically annealed. The
    resulting data were:
    170 167 174 179 179 187 179 183 179
    156 163 156 187 156 167 156 174 170
    183 179 174 179 170 159 187
    The engineer hypothesized that the mean Brinell hardness of all such ductile iron pieces is greater than 170.
    Is his hypothesis correct?
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test
    3. Find P-value and conclude if his hypothesis correct

In [39]:
sample = np.array([170,167,174,179,179,187,179,183,179
,156,163,156,187,156,167,156,174,170
,183,179,174,179,170,159,187])
t_value, p_value = stats.ttest_1samp(sample, 170)
print(t_value, p_value)
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print("Failed to reject Null Hypothesis")

1.2218430153659992 0.23363279636357662
Failed to reject Null Hypothesis

In [40]:
population_mean = 170

n = len(sample)

sample_mean = sample.mean()
sample_std = sample.std()

print(f"sample_mean: {sample_mean}")
print(f"sample_std: {sample_std}")

se = sample_std/np.sqrt(n-1)

t_value = (sample_mean - population_mean)/se#np.round(se,3)
print(f"t-value: {t_value}")
p_value = 1 - stats.t.cdf(t_value, n-1)
print(f"p_value: {p_value}")
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print("Failed to reject Null Hypothesis")

sample_mean: 172.52
sample_std: 10.103939825632375
t-value: 1.221843015365999
p_value: 0.11681639818178835
Failed to reject Null Hypothesis

### Question 13 - Intermediate
    A manufacturer claims that the thickness of the plates it produces is 7.5 one-hundredths of an inch. The
    quality-check department has to check the thickness regulary. On one production run, they took a random
    sample of n = 10 pieces of plates and measured their thickness. They obtained:
    7.65 7.60 7.65 7.70 7.55 7.55 7.40 7.40 7.50 7.50
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test
    3. Find P-value and conclude the hypothesis

In [41]:
population_mean = 7.5
sample = np.array([7.65,7.60,7.65,7.70,7.55,7.55,7.40,7.40,7.50,7.50])
n = len(sample)

sample_mean = sample.mean()
sample_std = sample.std()

print(f"sample_mean: {sample_mean}")
print(f"sample_std: {sample_std}")

se = sample_std/np.sqrt(n-1)

t_value = (sample_mean - population_mean)/se#np.round(se,3)
print(f"t-value: {t_value}")
p_value = (1 - stats.t.cdf(t_value, n-1))*2
print(f"p_value: {p_value}")
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print("Failed to reject Null Hypothesis")

sample_mean: 7.55
sample_std: 0.09746794344808961
t-value: 1.5389675281277262
p_value: 0.15819542053877989
Failed to reject Null Hypothesis

### Question 14 - Intermediate
    Use the given dataset to find out what proportion of patients report they have diabetes.
    Tasks to be performed:
        
    1. Load the data, check its shape and check for null values
    2. Replace the binary outcomes with text (1: Diabetic, 0: Non-diabetic)
    3. Find the value_counts of diabetic patients
    4. Construct a 95% confidence interval with statsmodels library for the population proportion of people having diabetes

In [42]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [43]:
df.shape

(768, 9)

In [49]:
df['Outcome'] = df['Outcome'].replace({1:'Diabetic', 0: 'Non_Diabetic'})
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,Diabetic
1,1,85,66,29,0,26.6,0.351,31,Non_Diabetic
2,8,183,64,0,0,23.3,0.672,32,Diabetic
3,1,89,66,23,94,28.1,0.167,21,Non_Diabetic
4,0,137,40,35,168,43.1,2.288,33,Diabetic

In [50]:
df['Outcome'].value_counts()

Non_Diabetic    500
Diabetic        268
Name: Outcome, dtype: int64

In [65]:
p = 268/n
n = df.shape[0]
sd = np.sqrt(p*(1-p))
se = sd/np.sqrt(n)
print(f"p: {p}")
print(f"sd: {sd}")

p: 0.3489583333333333
sd: 0.47664076087820645

In [68]:
z = norm.ppf(.95)

In [69]:
me = z*se
(p - me, p + me)

(0.32066801554727975, 0.3772486511193869)

### Question 15 - Advanced
    Use the given dataset to check if diabetic patients have higher average age than non-diabetic patients. Take
    a significance level of 5%.
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test
    3. Find P-value and conclude the hypothesis

In [76]:
diabetic_df = df[df['Outcome'] == 'Diabetic']
non_diabetic_df = df[df['Outcome'] == 'Non_Diabetic']

population_mean = non_diabetic_df['Age'].mean()
print(population_mean)

31.19

In [ ]:
#H(0): Average Age of Diabetic patients = 31.19
#H(a): Average Age of Diabetic > 31.19

In [85]:
sample_mean = diabetic_df['Age'].mean()
std = diabetic_df['Age'].std()
se = std/np.sqrt(diabetic_df['Age'].shape[0])
z = (sample_mean - population_mean)/se
print(z)
p_value = 1 - norm.cdf(z)
print('p-value',p_value)

8.771982054553721
p-value 0.0

In [80]:
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print("Failed to reject Null Hypothesis")

Failed to reject Null Hypothesis

In [86]:
sm.stats.ztest(diabetic_df['Age'], non_diabetic_df['Age'])

(6.792688071649956, 1.1006318936217381e-11)

### Question 16 - Intermediate
    Use the given dataset to find out what proportion of self-employed people are women.
    Tasks to be performed:
    1. Load the data
    2. Find the value_counts of people that are self-employed
    3. Find the value_counts of women that re self employed
    4. Construct a 95% confidence interval with statsmodels library for the population proportion of selfemployed women

In [87]:
df = pd.read_csv('survey.csv')[['Age', 'Gender', 'Country', 'self_employed']]
df.head()

   Age  Gender         Country self_employed
0   37  female   United States           NaN
1   44    male   United States           NaN
2   32    male          Canada           NaN
3   31    male  United Kingdom           NaN
4   31    male   United States           NaN

In [89]:
df['self_employed'].value_counts()
people_self_employed = 146

No     1095
Yes     146
Name: self_employed, dtype: int64

In [91]:
df[df['Gender'] == 'female']['self_employed'].value_counts()

No     229
Yes     24
Name: self_employed, dtype: int64

In [104]:
women_self_employed = 24
n = 146

p = 24/n

std = np.sqrt(p*(1-p))
se = std/np.sqrt(n)

me = norm.ppf(.95)*se
print(f"({p - me}, {p+ me})")

(0.11393096658839982, 0.2148361566992714)

In [98]:
sm.stats.proportion_confint(24,n)

(0.10426558663683812, 0.2245015366508331)

### Question 17 - Advanced
    Use the given dataset to check if self-employed women have higher average age than self-employed men..
    Take a significance level of 5%.
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test
    3. Find P-value and conclude the hypothesis

In [107]:
z, p_value = sm.stats.ztest(df[(df['Gender'] == 'female') & (df['self_employed'] == 'Yes')]['Age'], df[(df['Gender'] == 'male') & (df['self_employed'] == 'Yes')]['Age'])
print(z,p_value)
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print("Failed to reject Null Hypothesis")

-0.9854897724425256 0.3243835527585025
Failed to reject Null Hypothesis

### Question 18 - Advanced
    Dataset Description:
    shopping_data.csv - The dataset contains 5 columns and 200 rows. Here's a brief description of columns in
    the dataset:
    CustomerID - ID of each customer in serial order
    Gender - Gender of each customer
    Age - Age of each customer
    annual_income - Annual income of each customer
    spending_score - Spending score of each customer
    A clothing store owner wants to expand his shop. He is trying to figure out whether he should focus more on
    mens' or womens' brands. He has the records of the last 200 customers who came in his shop. Does this
    record give him any relevant information on whether there is a difference in the expenditure amongst men
    and women?
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test
    3. Find P-value and conclude the hypothesis

In [108]:
df = pd.read_csv('shopping_data.csv')
df.head()

   CustomerID  Gender  Age  annual_income  spending_score
0           1    Male   19             15              39
1           2    Male   21             15              81
2           3  Female   20             16               6
3           4  Female   23             16              77
4           5  Female   31             17              40

In [113]:
men_df = df[df['Gender'] == 'Male']['spending_score']
women_df = df[df['Gender'] == 'Female']['spending_score']
z_value, p_value = sm.stats.ztest(women_df,men_df)
print(z_value, p_value)

0.8190464150660333 0.4127599324349568

### Question 19 - Advanced
    Dataset Description:
    weatherHistory.csv - The dataset contains 12 columns. Here's a brief description of 5 columns in the
    
    dataset:
    Formatted Date - Date of recorded weather
    Weather - Weather of the day
    Temperature - Temperature in Celsius
    Humidity - Humidity of the day in percentage
    Wind_Bearing - Wind bearing in degrees
    
    A weatherman is analysing a large record of data to check if wind bearing changes between cloudy and clear
    weather.
    
    Tasks to be performed:
    1. Determine the Hypotheses
    2. Perform a Statistical Test
    3. Find P-value and conclude the hypothesis

In [117]:
df = pd.read_csv('weatherHistory.csv')[['Formatted Date','Weather','Temperature (C)','Humidity','Wind_Bearing']]
df.head()

,Formatted Date,Weather,Temperature (C),Humidity,Wind_Bearing
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,9.472222,0.89,251
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,9.355556,0.86,259
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,9.377778,0.89,204
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,8.288889,0.83,269
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,8.755556,0.83,259

In [119]:
df['Weather'].unique()

array(['Partly Cloudy', 'Mostly Cloudy', 'Overcast', 'Foggy',
       'Breezy and Mostly Cloudy', 'Clear', 'Breezy and Partly Cloudy',
       'Breezy and Overcast', 'Humid and Mostly Cloudy',
       'Humid and Partly Cloudy', 'Windy and Foggy', 'Windy and Overcast',
       'Breezy and Foggy', 'Windy and Partly Cloudy', 'Breezy',
       'Dry and Partly Cloudy', 'Windy and Mostly Cloudy',
       'Dangerously Windy and Partly Cloudy', 'Dry', 'Windy',
       'Humid and Overcast', 'Light Rain', 'Drizzle', 'Windy and Dry',
       'Dry and Mostly Cloudy', 'Breezy and Dry', 'Rain'], dtype=object)

In [126]:
df_cloudy = df[df['Weather']=='Partly Cloudy']
df_clear = df[df['Weather'] == 'Clear']

print(f"Count of cloudy: {df_cloudy.shape[0]}")
print(f"Count of clear: {df_clear.shape[0]}")

Count of cloudy: 31733
Count of clear: 10890

In [127]:
z_value, p_value = sm.stats.ztest(df_cloudy['Wind_Bearing'], df_clear['Wind_Bearing'])
print(z_value, p_value)
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print("Failed to reject Null Hypothesis")

9.150465286941111 5.668885216386225e-20
Reject Null Hypothesis

In [122]:
z_value, p_value = sm.stats.ztest(df_clear['Wind_Bearing'],df_cloudy['Wind_Bearing'])
print(z_value, p_value)

-11.614033264424167 3.4972152738057196e-31

### Question 20 - Advanced
    According a survey conducted by a multi-national company, 80% of all its employees had health insurance in
    2009. The Patient Protection and Affordable Care Act of 2010 allows young people under the age of 26 to
    stay on their parentsâ€™ health insurance policy. A recent survey of 800 randomly selected employees of a
    branch indicated that 83% of them had health insurance. Has the proportion of young employees who have
    health insurance increased since 2009? Take a significance level of 5%.
    
    Tasks to be performed:
    1. Determine the hypotheses: This involves stating the null and alternative hypotheses such that they are
    mutually exclusive.
    2. Formulate an analysis plan: Describe how to use sample data to evaluate the null hypothesis.
    3. Analyse sample data: Find the value of the test statistic described in the analysis plan.
    4. Interpret results to state a conclusion

In [131]:
# H(0) = 0.8
# H(a) > 0.8

p = 0.8
p_s = 0.83
n = 800

ssd = np.sqrt((p*(1-p)))/np.sqrt(n)
print(f'Sample standard deviation: {ssd}')
z = (p_s - p)/ssd
print(f'z: {z}')
p_value = 1 - norm.cdf(z)
print(p_value)
if p_value < 0.05:
    print('Reject Null Hypothesis')
else:
    print("Failed to reject Null Hypothesis")

Sample standard deviation: 0.014142135623730949
z: 2.121320343559637
0.01694742676234484
Reject Null Hypothesis